venv/
__pycache__/
*.pyc
.env
sample_data/sample_labels/*.jpg
sample_data/sample_labels/*.png
sample_data/cleaned_previews/
sample_data/cropped_previews/
sample_data/debug_contours/
sample_data/_temp_pipeline/